.ViewNotification {
    height: 3.75rem;
    background: rgb(242,142,38);
    background: linear-gradient(90deg, rgba(242,142,38,1) 0%, rgba(227,54,100,1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}