.Button_Main {

    button {
        background-color: #00AB00;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.45rem 1.25rem;
        border-radius: 5px;
        cursor: pointer;
    }
}